@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.section-padding {
    padding: 100px 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
}

.dropdown-menu {
    /* min-height: 100px */
    padding: 0px;
}

.dropdown-item {
    /* padding: 5px 0px; */
    font-family: "Sniglet";

}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

header {
    background: linear-gradient(to bottom, #dd2476, #ff512f);
    ;
    height: 100vh;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #0056b3;
}

.navbar-brand i {
    font-size: 40px;
    font-weight: 900;
}

.navbar-brand span {
    font-family: "Sniglet";
}

.nav-item {
    padding: 8px;
}

.nav-item .nav-link {
    color: white;
    font-family: "Sniglet";
}

.nav-item .nav-link:hover {
    color: black;
}

.hero .hero-subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: "Rubik";
}

.hero .hero-title {
    font-size: 65px;
    font-weight: 500;
    font-family: "Rubik";
}

.hero .hero-text {}

.hero .hero-buy-now-btn {
    padding: 8px 48px;

}

/* section 1 */
.section-2-left-wrapper {
    z-index: 0;
}



.section-2-right-wrapper h2 {
    font-size: 32px;
    font-weight: 700;

}

.section-2-right-wrapper p {
    font-size: 14.4px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 21px;

}

.section-2-right-wrapper {
    padding: 110px 42px 170px 85px;
    position: relative;
    left: -191px;
    bottom: -60px;
    z-index: 1;
    background-color: white;
}


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 576px) {
    header {
        height: 170vh;
    }

    .hero .hero-title {
        /* font-size: 45px; */
        font-weight: 500;
        font-family: "Rubik";
    }

    .hero .hero-left {
        padding-top: 150px !important;
        margin-top: 0px !important;
    }

    .hero .hero-right {
        padding-top: 180px;
    }

    .hero-left .hero-text-wrapper {
        width: 100% !important;
    }

    .hero .hero-title {
        font-size: 45px;
        font-weight: 500;
        font-family: "Rubik";
    }

    .section-2-right-wrapper {
        position: static;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero .hero-left {
        padding-top: 150px !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        height: 100vh !important;
    }

    .hero .hero-title {
        font-size: 60px;
        font-weight: 500;
        font-family: "Rubik";
    }

    .section-2-right-wrapper {
        position: static;
    }

    .section-2-left-wrapper img {
        /* width: 90%; */

    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        height: 100vh !important;
    }

    .hero-left .hero-text-wrapper {
        width: 100% !important;
    }

    .hero .hero-title {
        font-size: 65px;
        font-weight: 500;
        font-family: "Rubik";
    }

    .hero .hero-left {
        padding-top: 155px;
        margin-top: 0px !important;
    }

    .hero-title-wrapper {}

    .hero-title {
        /* width: 50%; */
    }

    .section-2-left-wrapper img {
        width: 85%;
    }

    .section-2-right-wrapper {
        padding: 110px 42px 170px 85px;
        width: 650px;
        /* height: 290px; */
        position: relative;
        left: -191px;
        bottom: -60px;
        z-index: 1;
        background-color: white;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-left .hero-text-wrapper {
        width: 75% !important;
    }

    .hero-title-wrapper {
        width: 75%;

    }

    /* .section-2-left-wrapper img {
        height: 95%;
    } */

    .hero-title {
        /* width: 50%; */
    }

    /* .section-2-right-wrapper {
        padding: 110px 42px 34px 85px;
        position: relative;
        left: -146px;
        bottom: -60px;
        z-index: 1;
        width: 134%;
        background-color: white;
    } */
}
