@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.section-padding {
    padding: 100px 0px;
}

.bg-gradient {
    background: linear-gradient(to bottom, #dd2476, #ff512f) !important;

}
.fixed-top{
    /* position: fixed;
    top: 0;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.815); */
    /* z-index: 9999;
    transition: all 1.5s ease; */ */
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
}

.dropdown-menu {
    /* min-height: 100px */
    padding: 0px;
}

.dropdown-item {
    /* padding: 5px 0px; */
    font-family: "Sniglet";

}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

header {

    height: 100vh;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #0056b3;
}

.navbar-brand i {
    font-size: 40px;
    font-weight: 900;
}

.navbar-brand span {
    font-family: "Sniglet";
}

.nav-item {
    padding: 8px;
}

.nav-item .nav-link {
    color: white;
    font-family: "Sniglet";
}

.nav-item .nav-link:hover {
    color: black;
}

.hero .hero-subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: "Rubik";
}

.hero .hero-title {
    font-size: 65px;
    font-weight: 500;
    font-family: "Rubik";
}

.hero .hero-buy-now-btn {
    padding: 8px 48px;

}

/* section 1 */
.section-2-left-wrapper {
    z-index: 0;
}



.section-2-right-wrapper h2 {
    font-size: 32px;
    font-weight: 700;

}

.section-2-right-wrapper p {
    font-size: 14.4px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 21px;

}

.section-2-right-wrapper {
    padding: 110px 42px 170px 85px;
    position: relative;
    left: -191px;
    bottom: -60px;
    z-index: 1;
    background-color: white;
}

/* section 2  */
.section-2 {
    z-index: 5;
}

.section-2 .cover {
    background-image: url("../assets/pexels-photo-452738.jpeg");
    background-position: -391px -285px;
    background-repeat: no-repeat;
    background-size: 150%;
    height: 390px;
    position: relative;
    z-index: 0;
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.content h1 {
    font-family: "Patua One";
    font-size: 6vmin;
    color: whitesmoke;
    padding-top: 70px;

}

.content p {
    font-family: "Rubik";
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .row {
    position: relative;
    top: -93px;
    /* z-index: 10; */
}

.numbers .numbers-item {
    padding: 16px;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
    /* background-color: red; */
    position: relative;
    z-index: 1;
    background-color: white;
}

.numbers .numbers-item h1 {
    font-size: 5rem;
    color: tomato;
}

.numbers .numbers-item p {
    font-family: "Patua One";
}

.purchase-top-wrapper {}

.purchase-top-wrapper h1 {
    font-family: "Lobster";
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-size: 40px;
}

.purchase-top-wrapper p {
    font-size: 3vmin;
    padding-bottom: 10vmin;
    color: #2e2c2caf;
}

.purchase-item {}

.purchase-item .card-title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4em 2.5em;
    font-size: 20px;
    font-weight: 500;
}

.purchase-item .card-text {
    padding: 40px 48px;
    color: #2e2c2caf;
}

.purchase-item .pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.purchase-item .pricing h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

.purchase-item .pricing a {
    border-radius: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    padding: 8px 48px;
    margin-bottom: 48px;
}

.purchase-item .pricing a:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}



/* section 3 */

.section-3-top {}

.section-3-top .section-3-top-title {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3-top .section-3-top-text {
    padding: 0 4em;
    padding-bottom: 2em;
    color: rgba(255, 255, 255, 0.877);
    font-size: 3vmin;
}

.desktop-inner-wrapper {
    padding: 14px 32px;
}

.desktop i {
    font-weight: 900;
    font-size: 48px;
}

.desktop h1 {
    font-size: 28px;
    font-weight: 500;
}

.desktop p {
    font-size: 2vmin;
}

.desktop-wrapper {
    padding-bottom: 84px;
}

/* section 4  */
.section-4 .section-4-header {}

.section-4 .section-4-header h1 {
    font-size: 6vmin;
    /* padding-top: 14vmin; */
}

.section-4 .section-4-header p {
    margin-bottom: 1rem;
}

.team .team-member {
    padding: 0px 20px 0px 20px;
}

.team .team-member img {
    width: 60%;
}

.section-4 .card {
    width: 80%;
}

.team .team-member .card-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.team .team-member .card-text {
    padding: 0.5em;
    color: #2e2c2caf;
}

.team .team-member a {
    font-size: 1.5em;
    color: #6c757d !important;

}

.team .team-member .designation {
    color: rgba(0, 0, 0, .5) !important;

}

.member-slide-wrapper {}

.member-slide-wrapper img {
    width: 60% !important;
}

.member-slide-wrapper {}

.team-member img {
    border-radius: 100px;
}

.carousel-item {
    padding-left: 10px;
    padding-bottom: 10px;
}

.team-member .carousel-item img {
    height: 127px;
    width: 127px !important;
}

.carousel-item img {}

/* footer section  */
.footer {
    background: rgba(0, 0, 0, 0.815);
}

.footer .title {
    color: #f8f9fa !important;
    font-size: 24px;
    font-weight: 500;
}

.text-tomato {
    color: tomato;
}

.footer .subtitle {
    color: #6c757d !important;
    font-size: 16px;
}

.footer i {
    font-weight: 900;
    /* padding: 30px; */
    padding: 17px 17px;
    position: relative;
    left: -5px;
    top: -2px;
    padding-top: 17px;
}
.footer input{
    padding-top: 7px;
    /* border: 0px; */
}
.footer input:focus-visible{
    /* border: 1px; */
}
.footer input:focus{
    border-radius: 10px;

}
.footer input::placeholder{
   color: white;
}








/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 576px) {
    header {
        height: 180vh;
    }

    .hero .hero-title {
        /* font-size: 45px; */
        font-weight: 500;
        font-family: "Rubik";
    }

    .hero .hero-left {
        padding-top: 150px !important;
        margin-top: 0px !important;
    }

    .hero .hero-right {
        padding-top: 145px;
    }

    .hero-left .hero-text-wrapper {
        width: 100% !important;
    }

    .hero .hero-title {
        font-size: 45px;
        font-weight: 500;
        font-family: "Rubik";
    }

    .section-2-right-wrapper {
        position: static;
    }

    .numbers .numbers-item h1 {
        font-size: 32px;
        color: tomato;
    }

    .numbers .numbers-item p {
        font-family: "Patua One";
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero .hero-left {
        padding-top: 150px !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        height: 100vh !important;
    }

    .hero .hero-right {
        padding-top: 0px;
    }

    .hero .hero-title {
        font-size: 60px;
        font-weight: 500;
        font-family: "Rubik";
    }

    .section-2-right-wrapper {
        position: static;
    }

    .section-2-left-wrapper img {
        width: 90%;

    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        height: 100vh !important;
    }

    .hero .hero-right img {
        width: 75%;
    }

    .hero-left .hero-text-wrapper {
        width: 100% !important;
    }

    .hero .hero-title {
        font-size: 65px;
        font-weight: 500;
        font-family: "Rubik";
    }

    .hero .hero-left {
        padding-top: 155px;
        margin-top: 0px !important;
    }

    /* 
    .hero-title-wrapper {} */

    /* .hero-title {
        /* width: 50%; */
    /* } */

    .section-2-left-wrapper img {
        width: 85%;
    }

    .section-2-right-wrapper {
        padding: 110px 42px 170px 85px;
        width: 650px;
        /* height: 290px; */
        position: relative;
        left: -191px;
        bottom: -60px;
        z-index: 1;
        background-color: white;
    }

    .numbers .numbers-item h1 {
        font-size: 5rem;
        color: tomato;
    }

    .numbers .numbers-item p {
        font-family: "Patua One";
    }

    .numbers .numbers-item h1 {
        font-size: 4rem;
        color: tomato;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-left .hero-text-wrapper {
        width: 75% !important;
    }

    .hero-title-wrapper {
        width: 75%;

    }

    /* .section-2-left-wrapper img {
        height: 95%;
    } */



    /* .section-2-right-wrapper {
        padding: 110px 42px 34px 85px;
        position: relative;
        left: -146px;
        bottom: -60px;
        z-index: 1;
        width: 134%;
        background-color: white;
    } */
}
